*.pyc
*.env
*.pyc
logs/app.log
resources/database/subscriptions.db
test.py
releases/Upick/site-packages
releases/Upick/script
test*
releases/Upick_windows_64x.zip
resources/database/subscriptions.db-journal
releases/Upick/logs/
*.DS_Store
resources/learning_data
docs/build/
